.search {
  padding: 10px;
  border: none;
  border-radius: 5px;
}
input {
  width: 20vw;
}

.btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-left: 0.5rem;
  color: #fff;
  background-color: skyblue;
  cursor: pointer;
}

.search:focus {
  outline: none;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
